/* scrollbars */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e212f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2a314d;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #354061;
}

/* Selection */
*::selection {
  background: #354061;
}

a *::selection {
  color: white;
}

img::selection {
  background: #9e8cfc;
}

/* Tailwind */
@tailwind base;
@layer base {
  * {
    box-sizing: border-box;
  }

  body,
  html {
    @apply bg-app text-default;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    @apply mb-14 font-semibold text-default font-heading;
    font-size: clamp(2rem, 8vw - 1.5rem, 3.5rem);
  }

  h2 {
    @apply text-3xl mt-14 mb-4 font-semibold font-heading;
  }

  h3 {
    @apply text-2xl font-medium font-heading;
  }

  .mdx-content h2 {
    @apply border-b border-borderMuted pb-3;
  }

  .mdx-content h3 {
    @apply mt-10 mb-4;
  }

  p {
    @apply mb-3;
  }

  a {
    @apply text-link underline-offset-4;
  }

  a:hover {
    @apply text-hover;
    text-decoration: none;
  }

  main ul {
    @apply list-disc;
    @apply list-inside;
    @apply space-y-2;
    @apply mt-6;
    @apply mb-4;
    @apply ml-4;
  }

  main ul > li > p:first-child {
    @apply inline-block;
  }

  main ol {
    @apply list-decimal;
    @apply list-inside;
    @apply space-y-2;
    @apply mb-4;
    @apply ml-4;
  }

  main ol > li > p:first-child {
    @apply inline-block;
  }

  pre,
  code {
    font-size: 1rem;
    font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
  }

  table {
    @apply min-w-full divide-y divide-outlineDark table-fixed;
  }

  table thead th {
    @apply px-4 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider;
  }

  table tbody tr:nth-child(even) {
    @apply bg-gray-50;
  }

  table tbody td {
    @apply p-4 text-sm;
  }
}

@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer utilities {
  .masonry {
    column-count: 1;
    column-gap: 1rem;
  }

  .break-inside {
    break-inside: avoid;
  }

  @screen md {
    .masonry {
      column-count: 2;
    }
  }
}

/* Header */
header {
  font-size: 20px;
}

/* Footer */
footer a {
  @apply text-default hover:text-hover;
}

/* Search (algolia) */
/* This class was set manually at https://www.algolia.com/apps/HV8SJIDSDY/explorer/configuration/docs/highlighting */
em.highlight {
  @apply bg-blue-100 text-gray-900 px-1 rounded-sm;
  font-style: inherit;
}

img.full-mobile {
  margin: 2rem 0;
}

h2,
h3 {
  scroll-margin-top: 6.5rem;
}

h2 a,
h3 a {
  color: inherit;
}

h2 a:hover,
h3 a:hover {
  @apply text-hover;
}
