/*
 * highlightjs-material-dark-theme
 * Material Dark theme for Highlight.js
 * Based off of https://github.com/equinusocio/material-theme
 * For use with Highlight.js, https://github.com/isagalaev/highlight.js
 */

.hljs::selection,
.hljs *::selection {
  background: rgba(110, 119, 140, 0.5);
}

.hljs-comment {
  color: rgb(110, 119, 140);
}

.hljs-selector-tag {
  color: #c792ea;
}

.hljs-attribute,
.hljs-string,
.hljs-subst {
  color: rgb(195, 232, 141);
}

.hljs-number,
.hljs-regexp,
.hljs-variable,
.hljs-template-variable {
  color: rgb(240, 113, 120);
}

.hljs-keyword,
.hljs-function > .hljs-title {
  color: rgb(137, 221, 255);
}

.hljs-tag {
  color: #abb2bf;
}

.hljs-name {
  color: rgb(240, 113, 120);
}

.hljs-attr {
  color: #c792ea;
}

.hljs-type,
.hljs-symbol,
.hljs-bullet,
.hljs-builtin-name,
.hljs-link {
  color: #c792ea;
}

.hljs-params {
  color: rgb(255, 203, 107);
}

.hljs-meta {
  color: #76dce8;
}

.hljs-built_in,
.hljs-title {
  color: #82aaff;
}

.hljs-title.class_,
.hljs-section {
  color: rgb(255, 203, 107);
}

.hljs-addition {
  background-color: #144212;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-selector-class {
  color: rgb(255, 203, 107);
}

.hljs-selector-id {
  color: rgb(240, 113, 120);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
