{
  "openapi": "3.0.0",
  "info": { "title": "MagicBell REST API", "version": "1.0" },
  "servers": [
    {
      "url": "https://api.magicbell.com",
      "description": "MagicBell REST API Base URL"
    }
  ],
  "paths": {
    "/notifications": {
      "post": {
        "operationId": "notifications-create",
        "tags": ["Notification Send API", "real-time"],
        "summary": "Create notifications",
        "description": "Send a notification to one or multiple users. You can identify users by their email address or by an external_id.\n\nYou don't have to import your users into MagicBell. If a user does not exist we'll create it automatically.\n\nYou can send user attributes like first_name, custom_attributes, and more when creating a notification.\n\nThe new notification will be shown in the notification inbox of each recipient in real-time. It will also be delivered to each recipient through all channels you have enabled for your MagicBell project.",
        "parameters": [
          { "$ref": "#/components/parameters/x_magicbell_api_key_header" },
          { "$ref": "#/components/parameters/x_magicbell_api_secret_header" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "notification": { "$ref": "#/components/schemas/NotificationPayload" }
                },
                "additionalProperties": false
              },
              "example": {
                "notification": {
                  "title": "We're processing your order",
                  "content": "<p>Thank you for your order. We'll notify you when these items are ready.</p>",
                  "category": "order_created",
                  "topic": "order:33098",
                  "recipients": [
                    { "email": "dan@example.com" },
                    {
                      "external_id": "83d987a-83fd034",
                      "first_name": "Hana",
                      "last_name": "Mohan",
                      "custom_attributes": {
                        "plan": "enterprise",
                        "pricing_version": "v10",
                        "preferred_pronoun": "She"
                      },
                      "phone_numbers": ["+15005550001"]
                    },
                    { "matches": "custom_attributes.order.id = 88492" }
                  ],
                  "overrides": {
                    "email": {
                      "title": "[MagicBell] We're processing your order",
                      "content": "Thank you for your order. If you need help, or have any questions please don't hesitate to reach out to us directly at hello@magicbell.com"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "notification": {
                      "$ref": "#/components/schemas/Notification"
                    }
                  }
                },
                "example": {
                  "notification": {
                    "id": "ffffff66-ea4f-4da2-afc6-84148b51657a",
                    "title": "We're processing your order",
                    "content": "<p>Thank you for your order. We'll notify you when these items are ready.</p>",
                    "action_url": null,
                    "category": "order_created",
                    "topic": "order:33098",
                    "custom_attributes": null,
                    "sent_at": 1625853246
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "List of validation errors"
                    }
                  }
                },
                "example": {
                  "errors": [
                    {
                      "message": "Param 'notification.title' is missing"
                    },
                    {
                      "message": "Param 'notification.recipients' is missing"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["User Notifications APIs"],
        "summary": "Fetch notifications",
        "description": "Fetch a user's notifications. Notifications are sorted in descendent order by the sent_at timestamp.",
        "operationId": "notifications-list",
        "parameters": [
          { "$ref": "#/components/parameters/x_magicbell_api_key_header" },
          {
            "$ref": "#/components/parameters/x_magicbell_user_external_id_header"
          },
          {
            "$ref": "#/components/parameters/x_magicbell_user_email_header"
          },
          { "$ref": "#/components/parameters/x_magicbell_user_hmac_header" },
          {
            "in": "query",
            "name": "per_page",
            "schema": { "type": "integer" },
            "description": "A limit on the number of notifications to be returned. It can range between 1 and 100, and the default is 15."
          },
          {
            "in": "query",
            "name": "page",
            "schema": { "type": "integer" },
            "description": "A parameter for use in pagination. Defaults to 1."
          },
          {
            "in": "query",
            "name": "read",
            "schema": { "type": "boolean" },
            "description": "A filter on the notifications based on the read state. If false, only unread notifications will be returned. Defaults to null."
          },
          {
            "in": "query",
            "name": "seen",
            "schema": { "type": "boolean" },
            "description": "A filter on the notifications based on the seen state. If false, only unseen notifications will be returned. Defaults to null."
          },
          {
            "in": "query",
            "name": "archived",
            "schema": { "type": "boolean" },
            "description": "A filter on the notifications based on the archived state. If false, only unarchived notifications will be returned. Defaults to null."
          },
          {
            "in": "query",
            "name": "categories",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "A filter on the notifications based on the category. If you want to get uncategorized notifications, use the \"uncategorized\" value.\nThe value can be either an array of strings or a comma-separated string."
          },
          {
            "in": "query",
            "name": "topics",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "A filter on the notifications based on the topic."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Notifications" },
                "example": {
                  "project_id": 83,
                  "unseen_count": 1,
                  "unread_count": 2,
                  "total": 2,
                  "total_pages": 1,
                  "per_page": 15,
                  "current_page": 1,
                  "notifications": [
                    {
                      "id": "7fb3ce9f-a866-4dff-8ce8-2f64f7c5ed4c",
                      "title": "Pickup Instructions – In-Store",
                      "action_url": "https://magicbell.com/pricing",
                      "content": "<ul><li>Bring your valid government-issued photo ID.</li></ul>",
                      "category": "order_ready",
                      "topic": "order:33098",
                      "custom_attributes": {
                        "order_number": "W846MD",
                        "part_number": "MRJL74/C"
                      },
                      "recipient": {
                        "id": "dd1502be-1d07-4906-8217-38dbe4c6ea6b",
                        "email": "dan@example.com",
                        "external_id": null,
                        "last_name": null,
                        "custom_attributes": {}
                      },
                      "seen_at": null,
                      "sent_at": 1601549080,
                      "read_at": null,
                      "archived_at": 1625852784
                    },
                    {
                      "id": "6ed53e8e-0b07-4354-8b56-44ea3ea0816c",
                      "title": "[Billing] Action required to prevent account suspension",
                      "action_url": "https://magicbell.com",
                      "content": "Unfortunately we were unable to automatically renew your account. It looks like we had trouble processing your credit card.",
                      "category": "billing",
                      "topic": null,
                      "custom_attributes": {
                        "sender": {
                          "name": "George Taylor",
                          "email": "george_t@example.com"
                        }
                      },
                      "recipient": {
                        "id": "dd1502be-1d07-4906-8217-38dbe4c6ea6b",
                        "email": "dan@example.com",
                        "external_id": null,
                        "first_name": null,
                        "last_name": null,
                        "custom_attributes": {}
                      },
                      "seen_at": 1601388747,
                      "sent_at": 1601388730,
                      "read_at": null,
                      "archived_at": 1625852012
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/notifications/{notification_id}": {
      "get": {
        "tags": ["User Notifications APIs"],
        "summary": "Fetch a notification",
        "operationId": "notifications-get",
        "description": "Fetch a user's notification by its ID.",
        "parameters": [
          { "$ref": "#/components/parameters/x_magicbell_api_key_header" },
          {
            "$ref": "#/components/parameters/x_magicbell_user_external_id_header"
          },
          {
            "$ref": "#/components/parameters/x_magicbell_user_email_header"
          },
          { "$ref": "#/components/parameters/x_magicbell_user_hmac_header" },
          { "$ref": "#/components/parameters/notification_id" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "notification": { "$ref": "#/components/schemas/NotificationDelivery" }
                  }
                },
                "example": {
                  "notification": {
                    "id": "7fb3ce9f-a866-4dff-8ce8-2f64f7c5ed4c",
                    "title": "Your Check-in Window to pick up Order W771201863",
                    "action_url": "https://magicbell.com/blog/notification-system-design",
                    "content": "<p>We look forward to seeing you during your Check-in Window. Please bring your valid government-issued photo ID.</p>",
                    "category": "order_ready",
                    "topic": "order:33098",
                    "custom_attributes": {
                      "encoding": "utf-8",
                      "word_count": "500"
                    },
                    "recipient": {
                      "id": "dd1502be-1d07-4906-8217-38dbe4c6ea6b",
                      "email": "dan@example.com",
                      "external_id": null,
                      "first_name": null,
                      "last_name": null,
                      "custom_attributes": {}
                    },
                    "seen_at": null,
                    "sent_at": 1601549080,
                    "read_at": null,
                    "archived_at": 1625852784
                  }
                }
              }
            }
          },
          "404": {
            "description": "The notification is not found",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "message": "A notification with the the given id doesn't exist"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["User Notifications APIs", "real-time"],
        "summary": "Delete a notification",
        "description": "Delete a user's notification by its ID. The notification is deleted immediately and removed from the user's notification inbox in real-time.",
        "operationId": "notifications-delete",
        "parameters": [
          { "$ref": "#/components/parameters/x_magicbell_api_key_header" },
          {
            "$ref": "#/components/parameters/x_magicbell_user_external_id_header"
          },
          {
            "$ref": "#/components/parameters/x_magicbell_user_email_header"
          },
          { "$ref": "#/components/parameters/x_magicbell_user_hmac_header" },
          { "$ref": "#/components/parameters/notification_id" }
        ],
        "responses": {
          "204": { "description": "User notification delete successfully" },
          "404": {
            "description": "User notification not found",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "message": "A notification with the the given id doesn't exist"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/notifications/{notification_id}/read": {
      "post": {
        "operationId": "notifications-mark-as-read",
        "tags": ["User Notification Actions APIs", "real-time"],
        "summary": "Mark a notification as read",
        "description": "Mark a user notification as read. The notification will be automatically marked as seen, too.\n\nThe new state will be reflected in the user's notification inbox in real-time.",
        "parameters": [
          { "$ref": "#/components/parameters/x_magicbell_api_key_header" },
          {
            "$ref": "#/components/parameters/x_magicbell_user_external_id_header"
          },
          {
            "$ref": "#/components/parameters/x_magicbell_user_email_header"
          },
          { "$ref": "#/components/parameters/x_magicbell_user_hmac_header" },
          { "$ref": "#/components/parameters/notification_id" }
        ],
        "responses": {
          "204": {
            "description": "User notification marked as read"
          },
          "404": {
            "description": "The notification is not found",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "message": "A notification_read with the the given id doesn't exist"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/notifications/{notification_id}/unread": {
      "post": {
        "operationId": "notifications-mark-as-unread",
        "tags": ["User Notification Actions APIs", "real-time"],
        "summary": "Mark a notification as unread",
        "description": "Mark a user notification as unread. The new state will be reflected in the user's notification inbox in real-time.",
        "parameters": [
          { "$ref": "#/components/parameters/x_magicbell_api_key_header" },
          {
            "$ref": "#/components/parameters/x_magicbell_user_external_id_header"
          },
          {
            "$ref": "#/components/parameters/x_magicbell_user_email_header"
          },
          { "$ref": "#/components/parameters/x_magicbell_user_hmac_header" },
          { "$ref": "#/components/parameters/notification_id" }
        ],
        "responses": {
          "204": {
            "description": "User notification marked as unread"
          },
          "404": {
            "description": "The notification is not found",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "message": "A notification_read with the the given id doesn't exist"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/notifications/{notification_id}/archive": {
      "post": {
        "operationId": "notifications-archive",
        "tags": ["User Notification Actions APIs", "real-time"],
        "summary": "Archive a notification",
        "description": "Mark a user notification as archived.",
        "parameters": [
          { "$ref": "#/components/parameters/x_magicbell_api_key_header" },
          {
            "$ref": "#/components/parameters/x_magicbell_user_external_id_header"
          },
          {
            "$ref": "#/components/parameters/x_magicbell_user_email_header"
          },
          { "$ref": "#/components/parameters/x_magicbell_user_hmac_header" },
          { "$ref": "#/components/parameters/notification_id" }
        ],
        "responses": {
          "204": {
            "description": "User notification marked as archived"
          },
          "404": {
            "description": "The notification is not found",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "message": "A notification_archive with the the given id doesn't exist"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "notifications-unarchive",
        "tags": ["User Notification Actions APIs", "real-time"],
        "summary": "Unarchive a notification",
        "description": "Mark a user notification as unarchived.",
        "parameters": [
          { "$ref": "#/components/parameters/x_magicbell_api_key_header" },
          {
            "$ref": "#/components/parameters/x_magicbell_user_external_id_header"
          },
          {
            "$ref": "#/components/parameters/x_magicbell_user_email_header"
          },
          { "$ref": "#/components/parameters/x_magicbell_user_hmac_header" },
          { "$ref": "#/components/parameters/notification_id" }
        ],
        "responses": {
          "204": {
            "description": "User notification marked as unarchived"
          },
          "404": {
            "description": "The notification is not found",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "message": "A notification_archive with the the given id doesn't exist"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/notifications/read": {
      "post": {
        "operationId": "notifications-mark-all-read",
        "tags": ["User Notification Actions APIs", "real-time"],
        "summary": "Mark all notifications as read",
        "description": "Mark all notifications of a user as read. When you call this endpoint, the notification inboxes of this user will be updated in real-time.",
        "parameters": [
          { "$ref": "#/components/parameters/x_magicbell_api_key_header" },
          {
            "$ref": "#/components/parameters/x_magicbell_user_external_id_header"
          },
          {
            "$ref": "#/components/parameters/x_magicbell_user_email_header"
          },
          { "$ref": "#/components/parameters/x_magicbell_user_hmac_header" },
          { "$ref": "#/components/parameters/archived_query_param" },
          { "$ref": "#/components/parameters/read_query_param" },
          { "$ref": "#/components/parameters/seen_query_param" },
          { "$ref": "#/components/parameters/categories_query_param" },
          { "$ref": "#/components/parameters/topics_query_param" }
        ],
        "responses": {
          "204": {
            "description": "All notifications of the user marked as read"
          }
        }
      }
    },
    "/notifications/seen": {
      "post": {
        "operationId": "notifications-mark-all-seen",
        "tags": ["User Notification Actions APIs", "real-time"],
        "summary": "Mark all notifications as seen",
        "description": "Mark all notifications of a user as seen. When you call this endpoint, the notification inboxes of this user will be updated in real-time.",
        "parameters": [
          { "$ref": "#/components/parameters/x_magicbell_api_key_header" },
          {
            "$ref": "#/components/parameters/x_magicbell_user_external_id_header"
          },
          {
            "$ref": "#/components/parameters/x_magicbell_user_email_header"
          },
          { "$ref": "#/components/parameters/x_magicbell_user_hmac_header" },
          { "$ref": "#/components/parameters/archived_query_param" },
          { "$ref": "#/components/parameters/read_query_param" },
          { "$ref": "#/components/parameters/seen_query_param" },
          { "$ref": "#/components/parameters/categories_query_param" },
          { "$ref": "#/components/parameters/topics_query_param" }
        ],
        "responses": {
          "204": {
            "description": "All notifications of the user marked as seen"
          }
        }
      }
    },
    "/users": {
      "post": {
        "operationId": "users-create",
        "tags": ["Users APIs"],
        "summary": "Create a user",
        "description": "Create a user. Please note that you must provide the user's email or the external id so MagicBell can uniquely identify the user.\n\nThe external id, if provided, must be unique to the user.",
        "parameters": [
          { "$ref": "#/components/parameters/x_magicbell_api_key_header" },
          { "$ref": "#/components/parameters/x_magicbell_api_secret_header" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/WrappedUser" },
              "example": {
                "user": {
                  "external_id": "56780",
                  "email": "hana@supportbee.com",
                  "first_name": "Hana",
                  "last_name": "Mohan",
                  "custom_attributes": {
                    "plan": "enterprise",
                    "pricing_version": "v10",
                    "preferred_pronoun": "She"
                  },
                  "phone_numbers": ["+15005550001"]
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WrappedUser" },
                "example": {
                  "user": {
                    "id": "7fb3ce9f-a866-4dff-8ce8-2f64f7c5ed4c",
                    "external_id": "56780",
                    "email": "hana@supportbee.com",
                    "first_name": "Hana",
                    "last_name": "Mohan",
                    "custom_attributes": {
                      "plan": "enterprise",
                      "pricing_version": "v10",
                      "preferred_pronoun": "She"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "message": "Param 'user' must have an external id or an email so MagicBell can uniquely identify the user"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/users/{user_id}": {
      "put": {
        "operationId": "users-update",
        "tags": ["Users APIs"],
        "summary": "Update a user",
        "description": "Update a user's data. If you identify users by their email addresses, you need to update the MagicBell data, so this user can still access their notifications.",
        "parameters": [
          { "$ref": "#/components/parameters/x_magicbell_api_key_header" },
          { "$ref": "#/components/parameters/x_magicbell_api_secret_header" },
          {
            "in": "path",
            "name": "user_id",
            "description": "The user id is the MagicBell user id. Alternatively, provide an id like `email:theusersemail@example.com` or `external_id:theusersexternalid` as the user id.",
            "required": true,
            "schema": { "type": "string", "minimum": 1 }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/WrappedUser" },
              "example": {
                "user": { "email": "hana@magicbell.io" }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WrappedUser" },
                "example": {
                  "user": {
                    "id": "7fb3ce9f-a866-4dff-8ce8-2f64f7c5ed4c",
                    "external_id": "56780",
                    "email": "hana@magicbell.io",
                    "first_name": "Hana",
                    "last_name": "Mohan",
                    "custom_attributes": {
                      "plan": "enterprise",
                      "pricing_version": "v10",
                      "preferred_pronoun": "She"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "message": "Param 'notification_preferences.categories' is missing"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "message": "A user with the the given id doesn't exist"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "users-delete",
        "tags": ["Users APIs"],
        "summary": "Delete a user",
        "description": "Immediately deletes a user.",
        "parameters": [
          { "$ref": "#/components/parameters/x_magicbell_api_key_header" },
          { "$ref": "#/components/parameters/x_magicbell_api_secret_header" },
          {
            "in": "path",
            "name": "user_id",
            "description": "The user id is the MagicBell user id. Alternatively, provide an id like `email:theusersemail@example.com` or `external_id:theusersexternalid` as the user id.",
            "required": true,
            "schema": { "type": "string", "minimum": 1 }
          }
        ],
        "responses": {
          "204": { "description": "OK" },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "message": "A user with the the given id doesn't exist"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/users/email:{user_email}": {
      "put": {
        "operationId": "users-update-by-email",
        "tags": ["Users APIs"],
        "summary": "Update a user by email",
        "description": "Update a user's data. If you identify users by their email addresses, you need to update the MagicBell data, so this user can still access their notifications.",
        "parameters": [
          { "$ref": "#/components/parameters/x_magicbell_api_key_header" },
          { "$ref": "#/components/parameters/x_magicbell_api_secret_header" },
          {
            "in": "path",
            "name": "user_email",
            "required": true,
            "schema": { "type": "string", "minimum": 1 }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/WrappedUser" },
              "example": {
                "user": {
                  "external_id": "56780",
                  "email": "hana@supportbee.com",
                  "first_name": "Hana",
                  "last_name": "Mohan",
                  "custom_attributes": {
                    "plan": "enterprise",
                    "pricing_version": "v10",
                    "preferred_pronoun": "She"
                  },
                  "phone_numbers": ["+15005550001"]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WrappedUser" },
                "example": {
                  "user": {
                    "id": "7fb3ce9f-a866-4dff-8ce8-2f64f7c5ed4c",
                    "external_id": "56780",
                    "email": "hana@magicbell.io",
                    "first_name": "Hana",
                    "last_name": "Mohan",
                    "custom_attributes": {
                      "plan": "enterprise",
                      "pricing_version": "v10",
                      "preferred_pronoun": "She"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "message": "Param 'notification_preferences.categories' is missing"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "message": "A user with the the given id doesn't exist"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "users-delete-by-email",
        "tags": ["Users APIs"],
        "summary": "Delete a user by email",
        "description": "Immediately deletes a user.",
        "parameters": [
          { "$ref": "#/components/parameters/x_magicbell_api_key_header" },
          { "$ref": "#/components/parameters/x_magicbell_api_secret_header" },
          {
            "in": "path",
            "name": "user_email",
            "required": true,
            "schema": { "type": "string", "minimum": 1 }
          }
        ],
        "responses": {
          "204": { "description": "OK" },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "message": "A user with the the given id doesn't exist"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/users/external_id:{external_id}": {
      "put": {
        "operationId": "users-update-by-external-id",
        "tags": ["Users APIs"],
        "summary": "Update a user by external ID",
        "description": "Update a user's data. If you identify users by their email addresses, you need to update the MagicBell data, so this user can still access their notifications.",
        "parameters": [
          { "$ref": "#/components/parameters/x_magicbell_api_key_header" },
          { "$ref": "#/components/parameters/x_magicbell_api_secret_header" },
          {
            "in": "path",
            "name": "external_id",
            "required": true,
            "schema": { "type": "string", "minimum": 1 }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/WrappedUser" },
              "example": {
                "user": {
                  "external_id": "56780",
                  "email": "hana@supportbee.com",
                  "first_name": "Hana",
                  "last_name": "Mohan",
                  "custom_attributes": {
                    "plan": "enterprise",
                    "pricing_version": "v10",
                    "preferred_pronoun": "She"
                  },
                  "phone_numbers": ["+15005550001"]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WrappedUser" },
                "example": {
                  "user": {
                    "id": "7fb3ce9f-a866-4dff-8ce8-2f64f7c5ed4c",
                    "external_id": "56780",
                    "email": "hana@magicbell.io",
                    "first_name": "Hana",
                    "last_name": "Mohan",
                    "custom_attributes": {
                      "plan": "enterprise",
                      "pricing_version": "v10",
                      "preferred_pronoun": "She"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "message": "Param 'notification_preferences.categories' is missing"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "message": "A user with the the given id doesn't exist"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "users-delete-by-external-id",
        "tags": ["Users APIs"],
        "summary": "Delete a user by external ID",
        "description": "Immediately deletes a user.",
        "parameters": [
          { "$ref": "#/components/parameters/x_magicbell_api_key_header" },
          { "$ref": "#/components/parameters/x_magicbell_api_secret_header" },
          {
            "in": "path",
            "name": "external_id",
            "required": true,
            "schema": { "type": "string", "minimum": 1 }
          }
        ],
        "responses": {
          "204": { "description": "OK" },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "message": "A user with the the given id doesn't exist"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/notification_preferences": {
      "get": {
        "parameters": [
          { "$ref": "#/components/parameters/x_magicbell_api_key_header" },
          {
            "$ref": "#/components/parameters/x_magicbell_user_external_id_header"
          },
          {
            "$ref": "#/components/parameters/x_magicbell_user_email_header"
          },
          { "$ref": "#/components/parameters/x_magicbell_user_hmac_header" }
        ],
        "tags": ["User notification preference APIs"],
        "summary": "Fetch user notification preferences",
        "description": "Fetch a user's notification preferences. If a user does not disable a channel explicitly, we would send notifications through that channel as long as your project is enabled.",
        "operationId": "notification-preferences-get",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrappedNotificationPreferences"
                },
                "example": {
                  "notification_preferences": {
                    "categories": [
                      {
                        "slug": "billing",
                        "label": "Billing",
                        "channels": [
                          {
                            "slug": "email",
                            "label": "Email",
                            "enabled": true
                          },
                          {
                            "slug": "web_push",
                            "label": "Web Push",
                            "enabled": false
                          },
                          {
                            "slug": "mobile_push",
                            "label": "Mobile Push",
                            "enabled": false
                          }
                        ]
                      },
                      {
                        "slug": "new_reply",
                        "label": "New reply",
                        "channels": [
                          {
                            "slug": "email",
                            "label": "Email",
                            "enabled": true
                          },
                          {
                            "slug": "web_push",
                            "label": "Web Push",
                            "enabled": true
                          },
                          {
                            "slug": "mobile_push",
                            "label": "Mobile Push",
                            "enabled": true
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          { "$ref": "#/components/parameters/x_magicbell_api_key_header" },
          {
            "$ref": "#/components/parameters/x_magicbell_user_external_id_header"
          },
          {
            "$ref": "#/components/parameters/x_magicbell_user_email_header"
          },
          { "$ref": "#/components/parameters/x_magicbell_user_hmac_header" }
        ],
        "tags": ["User notification preference APIs"],
        "summary": "Update user notification preferences",
        "description": "Update a user's notification preferences. These preferences will be applied only to channels you enabled for your project.",
        "operationId": "notification-preferences-update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WrappedNotificationPreferences"
              },
              "example": {
                "notification_preferences": {
                  "categories": [
                    {
                      "slug": "billing",
                      "channels": [
                        { "slug": "email", "enabled": false },
                        { "slug": "web_push", "enabled": false }
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrappedNotificationPreferences"
                },
                "example": {
                  "notification_preferences": {
                    "categories": [
                      {
                        "slug": "billing",
                        "label": "Billing",
                        "channels": [
                          {
                            "slug": "email",
                            "label": "Email",
                            "enabled": false
                          },
                          {
                            "slug": "web_push",
                            "label": "Web Push",
                            "enabled": false
                          },
                          {
                            "slug": "mobile_push",
                            "label": "Mobile Push",
                            "enabled": false
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "code": "no_user_with_provided_email",
                      "message": "A user with the email was not found in project with this API key"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/push_subscriptions": {
      "post": {
        "tags": ["Subscription to push notifications APIs"],
        "summary": "Register a device",
        "operationId": "push-subscriptions-create",
        "description": "Register a device token for push notifications.\n\nPlease keep in mind that mobile push notifications will be delivered to this device only if the channel is configured and enabled.",
        "parameters": [
          { "$ref": "#/components/parameters/x_magicbell_api_key_header" },
          {
            "$ref": "#/components/parameters/x_magicbell_user_external_id_header"
          },
          {
            "$ref": "#/components/parameters/x_magicbell_user_email_header"
          },
          { "$ref": "#/components/parameters/x_magicbell_user_hmac_header" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WrappedPushSubscription"
              },
              "example": {
                "push_subscription": {
                  "device_token": "x4doKe98yEZ21Kum2Qq39M3b8jkhonuIupobyFnL0wJMSWAZ8zoTp2dyHgV",
                  "platform": "ios"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "push_subscription": {
                      "$ref": "#/components/schemas/CreatedPushSubscription"
                    }
                  }
                },
                "example": {
                  "push_subscription": {
                    "id": "f80a7574-b309-4395-bb26-c503fe697d52",
                    "device_token": "x4doKe98yEZ21Kum2Qq39M3b8jkhonuIupobyFnL0wJMSWAZ8zoTp2dyHgV",
                    "platform": "ios"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "List of validation errors"
                    }
                  }
                },
                "example": {
                  "errors": [
                    { "message": "Param 'push_subscription.device_token' is missing" },
                    { "message": "Param 'push_subscription.platform' is missing" }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/push_subscriptions/{device_token}": {
      "delete": {
        "tags": ["Subscription to push notifications APIs"],
        "summary": "Unregister a device",
        "description": "Remove the subscription of a device to mobile push notifications. The device will be discarded immediately.",
        "operationId": "push-subscriptions-delete",
        "parameters": [
          { "$ref": "#/components/parameters/x_magicbell_api_key_header" },
          {
            "$ref": "#/components/parameters/x_magicbell_user_external_id_header"
          },
          {
            "$ref": "#/components/parameters/x_magicbell_user_email_header"
          },
          { "$ref": "#/components/parameters/x_magicbell_user_hmac_header" },
          {
            "in": "path",
            "name": "device_token",
            "description": "Token of the device you want to remove",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "204": { "description": "Subscription delete successfully" },
          "404": {
            "description": "The device token was not registered",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "message": "No subscription with the provided device token was found"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions": {
      "get": {
        "operationId": "subscriptions-list",
        "tags": ["Subscription API"],
        "summary": "List subscriptions",
        "description": "List a user's subscriptions status for all topics and categories.",
        "parameters": [
          { "$ref": "#/components/parameters/x_magicbell_api_key_header" },
          { "$ref": "#/components/parameters/x_magicbell_user_external_id_header" },
          { "$ref": "#/components/parameters/x_magicbell_user_email_header" },
          { "$ref": "#/components/parameters/x_magicbell_user_hmac_header" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "subscriptions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "topic": {
                            "type": "string"
                          },
                          "categories": {
                            "type": "array",
                            "description": "A list of hashes containing the category slug and the reason for the subscription",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "slug": {
                                  "type": "string",
                                  "description": "The slug of the category to be subscribed to. * can also be be specified if the subscription should match all categories"
                                },
                                "reason": {
                                  "type": "string",
                                  "description": "The reason for the subscription"
                                },
                                "status": {
                                  "type": "string",
                                  "enum": ["subscribed", "unsubscribed"]
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "subscriptions": [
                    {
                      "categories": [
                        {
                          "slug": "updates",
                          "reason": "watching-the-order",
                          "status": "unsubscribed"
                        },
                        {
                          "slug": "comments",
                          "reason": "watching-the-order",
                          "status": "unsubscribed"
                        }
                      ],
                      "topic": "acme-inc.orders.1234"
                    },
                    {
                      "categories": [
                        {
                          "slug": "comments",
                          "reason": "watching-the-order",
                          "status": "unsubscribed"
                        }
                      ],
                      "topic": "acme-inc.orders.2345"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "subscriptions-create",
        "tags": ["Subscription API"],
        "summary": "Create a topic subscription",
        "description": "Set a user's subscription status to subscribed for a particular topic (and optional categories). If the user previously unsubscribed, the user will be resubscribed.",
        "parameters": [
          { "$ref": "#/components/parameters/x_magicbell_api_key_header" },
          { "$ref": "#/components/parameters/x_magicbell_user_external_id_header" },
          { "$ref": "#/components/parameters/x_magicbell_user_email_header" },
          { "$ref": "#/components/parameters/x_magicbell_user_hmac_header" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/TopicSubscriptionBody" },
              "example": {
                "subscription": {
                  "categories": [
                    {
                      "slug": "comments",
                      "reason": "watching-the-repo"
                    }
                  ],
                  "topic": "acme-inc.orders.1234"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopicSubscription"
                },
                "example": {
                  "subscription": {
                    "categories": [
                      {
                        "slug": "comments",
                        "reason": "watching-the-repo",
                        "status": "subscribed"
                      }
                    ],
                    "topic": "acme-inc.orders.1234"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "List of validation errors"
                    }
                  }
                },
                "example": {
                  "errors": [
                    {
                      "message": "Param 'subscription.topic' is missing"
                    },
                    {
                      "message": "Param 'subscription.categories' is missing"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{topic}/unsubscribe": {
      "post": {
        "operationId": "subscriptions-unsubscribe",
        "tags": ["Subscription API"],
        "summary": "Unsubscribe from a topic",
        "description": "Unusbscribe a user from a particular topic (and optional categories).",
        "parameters": [
          { "$ref": "#/components/parameters/x_magicbell_api_key_header" },
          { "$ref": "#/components/parameters/x_magicbell_user_external_id_header" },
          { "$ref": "#/components/parameters/x_magicbell_user_email_header" },
          { "$ref": "#/components/parameters/x_magicbell_user_hmac_header" },
          { "$ref": "#/components/parameters/topic" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UnsubscriptionBody" },
              "example": {
                "subscription": {
                  "categories": [
                    {
                      "slug": "comments"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopicSubscription"
                },
                "example": {
                  "subscription": {
                    "categories": [
                      {
                        "slug": "comments",
                        "reason": "watching-the-repo",
                        "status": "unsubscribed"
                      }
                    ],
                    "topic": "acme-inc.orders.1234"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Topic subscription not found",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "message": "Couldn't find a user's subscription matching the criteria"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "List of validation errors"
                    }
                  }
                },
                "example": {
                  "errors": [
                    {
                      "message": "Param 'subscription.categories' is missing"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{topic}": {
      "get": {
        "operationId": "subscriptions-get",
        "tags": ["Subscription API"],
        "summary": "Show a topic subscription",
        "description": "Show a user's subscription status for a particular topic and categories.",
        "parameters": [
          { "$ref": "#/components/parameters/x_magicbell_api_key_header" },
          { "$ref": "#/components/parameters/x_magicbell_user_external_id_header" },
          { "$ref": "#/components/parameters/x_magicbell_user_email_header" },
          { "$ref": "#/components/parameters/x_magicbell_user_hmac_header" },
          { "$ref": "#/components/parameters/topic" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopicSubscription"
                },
                "example": {
                  "subscription": {
                    "categories": [
                      {
                        "slug": "comments",
                        "reason": "watching-the-repo",
                        "status": "unsubscribed"
                      }
                    ],
                    "topic": "acme-inc.orders.1234"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "List of validation errors"
                    }
                  }
                },
                "example": {
                  "errors": [
                    {
                      "message": "Couldn't find topic: comments"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "subscriptions-delete",
        "tags": ["Subscription API"],
        "summary": "Delete topic subscription(s)",
        "parameters": [
          { "$ref": "#/components/parameters/x_magicbell_api_key_header" },
          { "$ref": "#/components/parameters/x_magicbell_user_external_id_header" },
          { "$ref": "#/components/parameters/x_magicbell_user_email_header" },
          { "$ref": "#/components/parameters/x_magicbell_user_hmac_header" },
          { "$ref": "#/components/parameters/topic" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "categories": {
                    "type": "array",
                    "description": "A list of hashes containing the category slug and the reason for the subscription. Omiting categories deletes all topic subscriptions beloning to the topic.",
                    "items": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "slug": {
                          "type": "string",
                          "description": "The slug of the category to be subscribed to. * can also be be specified if the subscription should match all categories"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": { "description": "Topic subscription delete successfully" },
          "404": {
            "description": "Topic subscription not found",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "message": "Couldn't find a user's subscription matching the criteria"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/imports": {
      "post": {
        "x-beta": true,
        "operationId": "imports-create",
        "tags": ["Imports API"],
        "summary": "Create a import",
        "description": "Enqueues an import - currently only supported for users. Amongst other things, the users import allows associating slack channels (if you have already setup the oauth apps).",
        "parameters": [
          { "$ref": "#/components/parameters/x_magicbell_api_key_header" },
          { "$ref": "#/components/parameters/x_magicbell_api_secret_header" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/WrappedUsersImport" },
              "example": {
                "import": {
                  "users": [
                    {
                      "external_id": "ugiabqertz",
                      "email": "johndoe@example.com",
                      "first_name": "John",
                      "last_name": "Doe",
                      "custom_attributes": {
                        "age": 32,
                        "country": "Spain"
                      },
                      "channels": {
                        "slack": {
                          "providers": [
                            {
                              "oauth": {
                                "channel_id": "U039446XF3Y",
                                "app": {
                                  "app_id": "your_slack_app_id",
                                  "team_id": "workspace_id_from_slack"
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created (Enqueues the import)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "import": {
                      "$ref": "#/components/schemas/CreatedUsersImport"
                    }
                  }
                },
                "example": {
                  "import": {
                    "id": "67e839ab-98a8-48cf-9bcb-12d2b906c9c3",
                    "status": "processing",
                    "summary": {},
                    "errors": []
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "List of validation errors"
                    }
                  }
                },
                "example": {
                  "errors": [
                    {
                      "message": "Param 'import.users' must be filled"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/imports/{import_id}": {
      "get": {
        "x-beta": true,
        "operationId": "imports-get",
        "tags": ["Imports API"],
        "summary": "Get the status of an import",
        "description": "Query the status of the import for a summary of imported records and failures for each record that could not be imported successfully.",
        "parameters": [
          { "$ref": "#/components/parameters/import_id" },
          { "$ref": "#/components/parameters/x_magicbell_api_key_header" },
          { "$ref": "#/components/parameters/x_magicbell_api_secret_header" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrappedImport"
                },
                "example": {
                  "import": {
                    "id": "90200969-fcc7-4dee-b62f-928cc3b226d9",
                    "status": "processed",
                    "summary": {
                      "total": 1,
                      "failures": 1
                    },
                    "failures": {
                      "users": [
                        {
                          "email": "invalidEmail",
                          "external_id": null,
                          "errors": {
                            "email": ["must be an email address"],
                            "channels": {
                              "slack": {
                                "providers": {
                                  "0": {
                                    "oauth": {
                                      "app": {
                                        "app_id": ["could not find the slack app"]
                                      }
                                    }
                                  },
                                  "1": {
                                    "oauth": {
                                      "app": {
                                        "app_id": ["could not find the slack app"]
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The import is not found",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "message": "An import with the the given id doesn't exist"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "x_magicbell_api_key_header": {
        "in": "header",
        "name": "X-MAGICBELL-API-KEY",
        "schema": { "type": "string" },
        "required": true,
        "description": "The (public) API key of your MagicBell project."
      },
      "x_magicbell_api_secret_header": {
        "in": "header",
        "name": "X-MAGICBELL-API-SECRET",
        "schema": { "type": "string" },
        "required": true,
        "description": "The API secret of your MagicBell project."
      },
      "x_magicbell_user_email_header": {
        "in": "header",
        "name": "X-MAGICBELL-USER-EMAIL",
        "schema": { "type": "string" },
        "description": "Email address of the user. Provide the X-MAGICBELL-USER-EXTERNAL-ID header instead if you identify users by ID."
      },
      "x_magicbell_user_external_id_header": {
        "in": "header",
        "name": "X-MAGICBELL-USER-EXTERNAL-ID",
        "schema": { "type": "string" },
        "description": "ID of the user. Provide the X-MAGICBELL-USER-EMAIL header instead if you identify users by email."
      },
      "x_magicbell_user_hmac_header": {
        "in": "header",
        "name": "X-MAGICBELL-USER-HMAC",
        "schema": { "type": "string" },
        "description": "HMAC calculated with the API secret and ID, or email, of the user. Required if the project has HMAC enabled."
      },
      "authorization_header": {
        "in": "header",
        "name": "Authorization",
        "schema": { "type": "string" },
        "required": true,
        "description": "The Bearer JWT token of your MagicBell user."
      },
      "import_id": {
        "in": "path",
        "name": "import_id",
        "schema": { "type": "string" },
        "required": true,
        "description": "ID of the import.\nThe ID of the import is returned when the import is created."
      },
      "notification_id": {
        "in": "path",
        "name": "notification_id",
        "schema": { "type": "string" },
        "required": true,
        "description": "ID of the user notification.\nThe ID of a user notification can be obtained from the \"Fetch user notifications\" API endpoint or from push events sent to the MagicBell React library.\n"
      },
      "workspace_id": {
        "in": "path",
        "name": "workspace_id",
        "description": "ID of the workspace",
        "required": true,
        "schema": { "type": "string" }
      },
      "project_id": {
        "in": "path",
        "name": "project_id",
        "description": "ID of the project",
        "required": true,
        "schema": { "type": "string" }
      },
      "archived_query_param": {
        "in": "query",
        "name": "archived",
        "schema": { "type": "boolean" },
        "description": "A filter on the notifications based on the archived state. Specify false to select unarchived notifications. Defaults to null."
      },
      "read_query_param": {
        "in": "query",
        "name": "read",
        "schema": { "type": "boolean" },
        "description": "A filter on the notifications based on the read state. Specify false to select unread notifications. Defaults to null."
      },
      "seen_query_param": {
        "in": "query",
        "name": "seen",
        "schema": { "type": "boolean" },
        "description": "A filter on the notifications based on the seen state. Specify false to select unseen notifications. Defaults to null."
      },
      "categories_query_param": {
        "in": "query",
        "name": "categories",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": "A filter on the notifications based on the category. If you want to get uncategorized notifications, use the \"uncategorized\" value.\nThe value can be either an array of strings or a comma-separated string."
      },
      "topics_query_param": {
        "in": "query",
        "name": "topics",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": "A filter on the notifications based on the topic."
      },
      "topic_subscription_query_param": {
        "in": "query",
        "name": "topic",
        "schema": {
          "type": "string"
        },
        "description": "The topic for which we'd like to filter topic subscriptions."
      },
      "topic": {
        "in": "path",
        "name": "topic",
        "schema": {
          "type": "string"
        },
        "description": "The topic for which we'd like to filter topic subscriptions."
      }
    },
    "schemas": {
      "CategoryChannels": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "label": {
            "type": "string",
            "description": "The label of the channel"
          },
          "slug": {
            "type": "string",
            "description": "The slug of the channel."
          },
          "enabled": {
            "type": "boolean",
            "description": "The current state of the channel."
          }
        }
      },
      "NotificationPreferencesChannels": {
        "type": "array",
        "items": { "$ref": "#/components/schemas/CategoryChannels" }
      },
      "NotificationPreferencesCategory": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "label": {
            "type": "string",
            "description": "The label of the category"
          },
          "slug": {
            "type": "string",
            "description": "The slug of the category."
          },
          "channels": {
            "$ref": "#/components/schemas/NotificationPreferencesChannels",
            "description": "Preferences for each channel for this category."
          }
        }
      },
      "NotificationPreferencesCategories": {
        "type": "array",
        "items": { "$ref": "#/components/schemas/NotificationPreferencesCategory" }
      },
      "NotificationPreferences": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "categories": {
            "$ref": "#/components/schemas/NotificationPreferencesCategories"
          }
        }
      },
      "WrappedNotificationPreferences": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "notification_preferences": {
            "$ref": "#/components/schemas/NotificationPreferences"
          }
        }
      },
      "User": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique id for this user.",
            "readOnly": true
          },
          "external_id": {
            "type": "string",
            "description": "A unique string that MagicBell can utilize to identify the user uniquely. We recommend setting this attribute to the ID of the user in your database. Provide the external id if the user's email is unavailable.",
            "maxLength": 255,
            "nullable": true
          },
          "email": {
            "type": "string",
            "description": "The user's email.",
            "maxLength": 255,
            "nullable": true
          },
          "first_name": {
            "type": "string",
            "description": "The user's first name.",
            "maxLength": 50,
            "nullable": true
          },
          "last_name": {
            "type": "string",
            "description": "The user's last name.",
            "maxLength": 50,
            "nullable": true
          },
          "custom_attributes": {
            "type": "object",
            "description": "Any customer attributes that you'd like to associate with the user. You may want to use these attributes later when writing email templates, for example.",
            "additionalProperties": true
          },
          "phone_numbers": {
            "type": "array",
            "description": "An array of phone numbers to use for sending SMS notifications.",
            "items": {
              "type": "string"
            },
            "maxItems": 50
          }
        }
      },
      "WrappedUser": {
        "type": "object",
        "additionalProperties": false,
        "properties": { "user": { "$ref": "#/components/schemas/User" } }
      },
      "Recipient": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "email": {
            "type": "string",
            "description": "The user's email",
            "nullable": true
          },
          "external_id": {
            "type": "string",
            "description": "A unique string that MagicBell can utilize to uniquely identify the user. We recommend setting this attribute to the ID of the user in your database. Provide the external id if the user's email is unavailable.",
            "nullable": true
          },
          "matches": {
            "type": "string",
            "description": "An SQL-like expression to match users by their stored attributes. Set it to \"*\" to send a notification to all users."
          }
        }
      },
      "Recipients": {
        "type": "array",
        "items": { "$ref": "#/components/schemas/Recipient" }
      },
      "Notification": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique id for this notification.",
            "readOnly": true
          },
          "title": {
            "type": "string",
            "description": "Title of the notification.",
            "nullable": false,
            "maxLength": 255
          },
          "content": {
            "type": "string",
            "description": "Content of the notification. If you provide HTML content, the notification inbox will render it correctly. It should not exceed 4MB.",
            "nullable": true
          },
          "action_url": {
            "type": "string",
            "format": "uri",
            "description": "A URL to redirect the user to when they click the notification in their notification inbox.",
            "nullable": true,
            "maxLength": 2048
          },

          "category": {
            "type": "string",
            "description": "Category the notification belongs to. This is useful to allow users to set their preferences.",
            "nullable": true,
            "maxLength": 100
          },
          "topic": {
            "type": "string",
            "description": "Topic the notification belongs to. This is useful to create threads.",
            "nullable": true,
            "maxLength": 100
          },
          "custom_attributes": {
            "type": "object",
            "description": "Set of key-value pairs that you can attach to a notification, 6KB at maximum. It accepts objects for the value of a key.\n\nYou can use it to share data between channels or to render a custom UI.",
            "nullable": true,
            "additionalProperties": true
          },
          "sent_at": {
            "type": "number",
            "description": "The timestamp when the notification was sent to its recipients.",
            "readOnly": true
          }
        },
        "required": ["id", "title", "sent_at"]
      },
      "NotificationPayload": {
        "additionalProperties": false,
        "properties": {
          "title": { "$ref": "#/components/schemas/Notification/properties/title" },
          "content": { "$ref": "#/components/schemas/Notification/properties/content" },
          "action_url": { "$ref": "#/components/schemas/Notification/properties/action_url" },
          "recipients": {
            "$ref": "#/components/schemas/Recipients",
            "description": "Users to send the notification to. You can specify up to 1000 users in the request body or use [matches](https://www.magicbell.com/docs/segments#how-to-create-segments-using-the-api) to send a notification to any number of users.",
            "nullable": false,
            "minItems": 1,
            "maxItems": 1000
          },
          "custom_attributes": { "$ref": "#/components/schemas/Notification/properties/custom_attributes" },
          "category": { "$ref": "#/components/schemas/Notification/properties/category" },
          "topic": { "$ref": "#/components/schemas/Notification/properties/topic" },
          "overrides": {
            "type": "object",
            "description": "Optional overrides to configure notifications per target destination.",
            "nullable": true,
            "properties": {
              "channels": {
                "type": "object",
                "description": "Overrides for specific channels",
                "properties": {
                  "in_app": {
                    "$ref": "#/components/schemas/ChannelOverrides"
                  },
                  "email": {
                    "$ref": "#/components/schemas/ChannelOverrides"
                  },
                  "web_push": {
                    "$ref": "#/components/schemas/ChannelOverrides"
                  },
                  "mobile_push": {
                    "$ref": "#/components/schemas/ChannelOverrides"
                  }
                }
              },
              "providers": {
                "type": "object",
                "description": "Overrides for specific providers (Sendgrid, Postmark, APNs, etc)",
                "properties": {
                  "sendgrid": {
                    "type": "object",
                    "description": "Set of key-value pairs that you can pass on to Sendgrid. Applied only if it is configured for your project."
                  },
                  "mailgun": {
                    "type": "object",
                    "description": "Set of key-value pairs that you can pass on to Mailgun. Applied only if it is configured for your project."
                  },
                  "postmark": {
                    "type": "object",
                    "description": "Set of key-value pairs that you can pass on to Postmark. Applied only if it is configured for your project."
                  },
                  "ios": {
                    "type": "object",
                    "description": "Set of key-value pairs that you can pass on to APNs. Applied only if it is configured for your project."
                  },
                  "android": {
                    "type": "object",
                    "description": "Set of key-value pairs that you can pass on to FCM. Applied only if it is configured for your project."
                  }
                }
              }
            }
          }
        },
        "required": ["title", "recipients"]
      },
      "NotificationDelivery": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": { "$ref": "#/components/schemas/Notification/properties/id" },
          "title": { "$ref": "#/components/schemas/Notification/properties/title" },
          "content": { "$ref": "#/components/schemas/Notification/properties/content" },
          "action_url": { "$ref": "#/components/schemas/Notification/properties/action_url" },
          "category": { "$ref": "#/components/schemas/Notification/properties/category" },
          "topic": { "$ref": "#/components/schemas/Notification/properties/topic" },
          "custom_attributes": { "$ref": "#/components/schemas/Notification/properties/custom_attributes" },
          "sent_at": { "type": "number" },
          "seen_at": { "type": "number", "nullable": true },
          "read_at": { "type": "number", "nullable": true },
          "archived_at": { "type": "number", "nullable": true },
          "recipient": { "$ref": "#/components/schemas/User" }
        },
        "required": ["title", "recipient"]
      },
      "ChannelOverrides": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Overriden title for this channel"
          },
          "content": {
            "type": "string",
            "description": "Overriden content for this channel"
          },
          "action_url": {
            "type": "string",
            "description": "Overriden action_url for this channel"
          }
        }
      },
      "TopicSubscriptionBody": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "subscription": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "categories": {
                "type": "array",
                "description": "A list of hashes containing the category slug and the reason for the subscription",
                "items": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "slug": {
                      "type": "string",
                      "description": "The slug of the category to be subscribed to. * can also be be specified if the subscription should match all categories"
                    },
                    "reason": {
                      "type": "string",
                      "description": "The reason for the subscription"
                    }
                  }
                }
              },
              "topic": {
                "type": "string",
                "description": "The topic the user should be subscribed to. If the topic does not exist it will be created."
              }
            },
            "required": ["categories", "topic"]
          }
        }
      },
      "UnsubscriptionBody": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "subscription": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "categories": {
                "type": "array",
                "description": "A list of hashes containing the category slug and the reason for the subscription",
                "items": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "slug": {
                      "type": "string",
                      "description": "The slug of the category to be subscribed to. * can also be be specified if the subscription should match all categories"
                    },
                    "reason": {
                      "type": "string",
                      "description": "The reason for the subscription"
                    }
                  }
                }
              }
            },
            "required": ["categories"]
          }
        }
      },
      "TopicSubscription": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "subscription": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "categories": {
                "type": "array",
                "description": "A list of hashes containing the category slug and the reason for the subscription",
                "items": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "slug": {
                      "type": "string",
                      "description": "The slug of the category to be subscribed to. * can also be be specified if the subscription should match all categories"
                    },
                    "reason": {
                      "type": "string",
                      "description": "The reason for the subscription"
                    },
                    "status": {
                      "type": "string",
                      "description": "The status of the topic subscription",
                      "enum": ["subscribed", "unsubscribed"]
                    }
                  }
                }
              },
              "topic": {
                "type": "string",
                "description": "The topic the user should be subscribed to. If the topic does not exist it will be created."
              }
            }
          }
        }
      },
      "ProjectBody": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "project": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "name": {
                "type": "string",
                "description": "Project Name",
                "nullable": true,
                "maxLength": 255
              },
              "hmac_enabled": {
                "type": "boolean",
                "description": "True when hmac is enabled for a project"
              }
            }
          }
        }
      },
      "Project": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "description": "Project Name",
            "nullable": true,
            "maxLength": 255
          },
          "hmac_enabled": {
            "type": "boolean",
            "description": "True when hmac is enabled for a project"
          },
          "api_key": {
            "type": "string",
            "description": "Project's api_key"
          },
          "api_secret": {
            "type": "string",
            "description": "Project's api_secret"
          },
          "workspace": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "id": { "type": "integer" },
              "title": {
                "type": "string",
                "description": "Workspace's title"
              }
            }
          }
        }
      },
      "Projects": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "projects": {
            "type": "array",
            "description": "List of all projects in a workspace",
            "items": { "$ref": "#/components/schemas/Project" }
          }
        }
      },
      "WrappedProject": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "project": { "$ref": "#/components/schemas/Project" }
        }
      },
      "Notifications": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "project_id": {
            "type": "integer",
            "description": "ID of the MagicBell project these notifications belong to.",
            "readOnly": true
          },
          "total": {
            "type": "integer",
            "description": "Total number of notifications for this user.",
            "readOnly": true
          },
          "per_page": {
            "type": "integer",
            "description": "Number of notifications per page.",
            "readOnly": true
          },
          "total_pages": {
            "type": "integer",
            "description": "Total number of pages.",
            "readOnly": true
          },
          "current_page": {
            "type": "integer",
            "description": "Number of the page returned.",
            "readOnly": true
          },
          "unseen_count": {
            "type": "integer",
            "description": "Number of unseen notifications. Any filters applied affect this number.",
            "readOnly": true
          },
          "unread_count": {
            "type": "integer",
            "description": "Number of unread notifications. Any filters applied affect this number.",
            "readOnly": true
          },
          "notifications": {
            "type": "array",
            "description": "List of all notifications in the current page",
            "items": { "$ref": "#/components/schemas/NotificationDelivery" }
          }
        }
      },
      "WrappedPushSubscription": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "push_subscription": {
            "$ref": "#/components/schemas/PushSubscription"
          }
        }
      },
      "CreatedPushSubscription": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": { "type": "string" },
          "device_token": { "type": "string" },
          "platform": { "type": "string" },
          "app_bundle_id": { "type": "string", "nullable": true }
        }
      },
      "PushSubscription": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "device_token": {
            "type": "string",
            "description": "Token that identifies the device. This is usually generated automatically by your app once installed.",
            "maxLength": 255
          },
          "platform": {
            "type": "string",
            "description": "The platform where the device token was generated from. This value is used to determine the delivery mechanism for mobile push notifications. Either 'ios', 'android' or 'safari'.",
            "minLength": 3
          },
          "app_bundle_id": {
            "type": "string",
            "description": "The bundle ID of your app. This value is used to determine the delivery mechanism for mobile push notifications based on your workflow so that you can link several mobile applications to one project.",
            "maxLength": 155
          }
        },
        "required": ["device_token", "platform"]
      },
      "WrappedImport": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "import": {
            "$ref": "#/components/schemas/CreatedUsersImport"
          }
        }
      },
      "WrappedUsersImport": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "import": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "users": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "external_id": { "$ref": "#/components/schemas/User/properties/external_id" },
                    "email": { "$ref": "#/components/schemas/User/properties/email" },
                    "first_name": { "$ref": "#/components/schemas/User/properties/first_name" },
                    "last_name": { "$ref": "#/components/schemas/User/properties/last_name" },
                    "custom_attributes": { "$ref": "#/components/schemas/User/properties/custom_attributes" },
                    "phone_numbers": { "$ref": "#/components/schemas/User/properties/phone_numbers" },
                    "channels": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CreatedUsersImport": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "description": "ID of the import. This is used to query the status of the import."
          },
          "status": {
            "type": "string",
            "enum": ["processing"]
          },
          "summary": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "total": {
                "type": "integer",
                "description": "The total number of records processed."
              },
              "failures": {
                "type": "integer",
                "description": "The total number of failed records."
              }
            }
          },
          "errors": {
            "type": "array",
            "description": "A list of errors (deprecated - please use failures instead)",
            "deprecated": true,
            "items": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "email": {
                  "type": "string",
                  "description": "The identifying email of the user. If the user's external_id is used as identifier, the email key will not be present"
                },
                "external_id": {
                  "type": "string",
                  "description": "The identifying external_id of the user. If the user's email is used as identifier, the external_id key will not be present"
                },
                "message": {
                  "type": "string",
                  "description": "The error message indicating why importing the user failed"
                }
              }
            }
          },
          "failures": {
            "type": "object",
            "description": "Contains the entities that could not be imported successfully",
            "properties": {
              "users": {
                "type": "array",
                "description": "User objects that could not be imported successfully",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "The identifying email of the user if supplied in the import request."
                  },
                  "external_id": {
                    "type": "string",
                    "description": "The identifying external_id of the user if supplied in the import request."
                  },
                  "errors": {
                    "type": "object",
                    "description": "The errors object reflecting the structure of the user oject"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-explorer-enabled": false,
  "x-proxy-enabled": true,
  "x-samples-enabled": true,
  "x-samples-languages": ["curl", "node", "javascript", "ruby", "python"],
  "x-si-base": "./api_docs.yml",
  "x-github-repo": "magicbell-io/backend",
  "x-github-sha": "57802f402dea96ee7d34833e4cd17733de299aef"
}
